HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 前端打包文件 ###
/sqlmgr-server/src/main/resources/static/css/chunk-*
/sqlmgr-server/src/main/resources/static/favicon.ico
/sqlmgr-server/src/main/resources/static/index.html
/sqlmgr-server/src/main/resources/static/js/index.*
/sqlmgr-server/src/main/resources/static/js/chunk-*
